<div
    style="width: 1440px; padding-top: 48px; padding-bottom: 32px; padding-left: 80px; padding-right: 80px; background-image: url(https://placehold.co/1440x124); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 60px; display: inline-flex">
    <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="width: 1280px; justify-content: space-between; align-items: center; display: flex">
            <img style="width: 208px; height: 40px; border-radius: 100px" src="https://placehold.co/208x40" />
            <div
                style="color: #6F6F6F; font-size: 14px; font-family: Noto Sans TC; font-weight: 500; line-height: 22.40px; word-wrap: break-word">
                專業音樂教育最貼心的好夥伴，陪您一起發掘音符中的無限可能。</div>
            <div
                style="color: #4A3A31; font-size: 12px; font-family: Noto Sans TC; font-weight: 500; word-wrap: break-word">
                © 2026 MusiMate. All rights reserved.</div>
        </div>
    </div>
</div>